<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="LibVLCSharp" version="3.4.8" targetFramework="net472" />
  <package id="LibVLCSharp.Forms" version="3.4.7" targetFramework="net472" />
  <package id="LibVLCSharp.Forms.WPF" version="3.4.7" targetFramework="net472" />
  <package id="LibVLCSharp.WPF" version="3.4.7" targetFramework="net472" />
  <package id="Mono.Nat" version="2.0.1" targetFramework="net472" />
  <package id="OpenTK" version="2.0.0" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="1.1.2349.61993" targetFramework="net472" />
  <package id="ReusableTasks" version="1.0.7" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.3" targetFramework="net472" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.11" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Wpf" version="3.1.0" targetFramework="net472" />
  <package id="WpfLightToolkit" version="1.0.1" targetFramework="net472" />
  <package id="Xamarin.Forms" version="3.2.0.871581" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="3.2.0.871581" targetFramework="net472" />
</packages>